@model Subject;
@{
    ViewData["Title"] = "Subject information:";
}

<h1>@ViewData["Title"]</h1>
<h2>Id: @Model.Id</h2>
<p>Subject: @Model.Name. <br/> Id: @Model.Id</p>
<p>Date: @ViewBag.Date</p>

<strong>From principal subject</strong>
<partial name="BaseSchoolSimple"/>