@model Student;
@{
    ViewData["Title"] = "Student information:";
}

<h1>@ViewData["Title"]</h1>
<h2>Id: @Model.UniqueId</h2>
<p>Student: @Model.Name. <br/> Id: @Model.UniqueId</p>
<p>Date: @ViewBag.Date</p>

<strong>From principal student</strong>
<partial name="BaseSchoolSimple"/>