@{
    ViewData["Title"] = "School information:";
}

<h1>@ViewData["Title"]</h1>
<h2>Name: @Model.Name</h2>
<h2>Id: @Model.UniqueId</h2>
<p>Year: @Model.YearOfCreation</p>
<p><i>@ViewBag.DynamicThing</i></p>